<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Platform</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <h2>Recent Posts</h2>
      <ul>
        <% posts.sort((a, b) => new Date(b.createdAt) - new
        Date(a.createdAt)).forEach(post => { %>
        <li>
          <h2><a href="/post/<%= post.id %>"><%= post.title %></a></h2>
          <p><%= post.excerpt %></p>
          <p><%= post.content %></p>
          <small
            >By <%= post.author %> on <%= new
            Date(post.createdAt).toLocaleDateString() %></small
          >
        </li>
        <% }) %>
      </ul>
      <a href="new-post">Create a New Post</a>
    </main>
  </body>
</html>
